it_grop/src/log/
it_grop/src/exp/
it_grop/src/cmaes_log/
it_grop/src/global_heatmaps/
it_grop/src/voronois/
it_grop/src/models/
it_grop/src/Model_zoo/
it_grop/src/cost_cache*
it_grop/src/partial_cost*


tamp_perception/src/experimental_results/
tamp_perception/src/heatmaps/
tamp_perception/src/log


object_rearrangement/src/log/
object_rearrangement/src/exp/
object_rearrangement/src/heatmaps/
object_rearrangement/src/models/
object_rearrangement/src/Model_zoo/



wiping/src/wiping_log/
wiping/src/eval/
wiping/src/wiping_data/
object_rearrangement/src/models/
object_rearrangement/src/Model_zoo/

wiping/Pytorch-UNet/cpt/



*.pyc
